<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style type="text/css">
    .card{
      width:500px;
      height:600px;
      padding: auto;
    }
    .center {
      margin: auto;

    }
    .cardpadding{
      padding-bottom: 20px;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }


  </style>



    <title>REGISTER</title>
  </head>
  <body class="bg-dark">
    <nav class="shadow-sm navbar navbar-light bg-light font-weight-bolder">
    <b style="font-size: 30px;"><span style="color: rgb(8, 139, 8);">P</span>lagiarism <span style="color: blue;">C</span>hecker</b>
    </nav>


    <div class=" center row">
      <div class="col-4">
      </div>
      <div class="col-4">
        <div class="cardpadding card bg-light" style="margin-top: 100px">

                  <h2 class="text-success">Registration</h2>
                  {% block content %}

                  {% endblock content %}
                  <form action="/register/logic/" method="post">
                    {% csrf_token %}
                  <p>
                      <label>Username : </label>
                      <input class="form-control" type="text" name="username" placeholder="username" required>
                  </p>
                  <p>
                    <label>Password : </label>
                    <input class="form-control" type="password" name="password" placeholder="password" required>
                  </p>
                   <input class="btn btn-success text-light" type="submit" name="submit">

                  </form>
                  {% block content2 %}

                  {% endblock content2 %}

        </div>
        <div class="col-4">
        </div>
      </div>

  </body>
</html>
