{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style type="text/css">
    .card{
      width:500px;
      height:600px;
      padding: auto;
  }
  .center {
      margin: auto;

  }
  .cardpadding{
      padding-bottom: 20px;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
  }


</style>

<title>Plagiarism</title>
</head  >
<body class="bg-dark">
  <nav class="shadow-sm navbar navbar-light bg-light font-weight-bolder">
    <b style="font-size: 30px;"><span style="color: rgb(8, 139, 8);">P</span>lagiarism <span style="color: blue;">C</span>hecker</b>
      <div style="float: right;">
      <a  class="text-success navbar-brand" href="/uploadFiles">Files DB</a>
      <a href="/login"><img src="{% static 'my_app/logout.png' %}"  style="height: 20px;width: 20px;" alt=""></a>
    </div>
    </nav>
  <div class=" center row">
      <div class="col-1">
      </div>
      <div class="col-10">
        <div class="cardpadding card bg-light" style="margin-top: 70px;width: 100%;">
          <h2 class="text-success">Welcome {{username}}</h2>
          <h1 class="text-dark">Plagiarism Checker</h1>
          <form method="post" enctype="multipart/form-data" action="/plagiarism/">
            {% csrf_token %}
            <input  type="file" name="sentFile" required> 
            <select id="compareType" name="compareType">
              <option value="FileDB">File Database</option>
              <option value="Online">Online</option>
            </select>
            <input class="btn btn-success text-light" type="submit" name="submit" value="Upload" >
        </form>
    </div>
    <div class="col-1">
    </div>
</div>
</div>
</body>
</html>
